.container {
  min-height: 100vh;
}

section {
  padding-top: 56px;
}

.header {
  .nuxt-link-exact-active {
    color: white !important;
  }
}
.table th, .table td {
  text-align: center;
  border: 1px solid #dee2e6;
  vertical-align: middle;
}

//.bg-custom-main {
//  background-color: $main-color !important;
//}
//
//.btn-custom-main {
//  background-color: $main-color;
//}
